<!-- Top Title Login Page -->
<div class="container-fluid px-5">
    <div class="row g-0" id="header-container">
        <div class="p-2 mb-3 bg-transparent rounded-5 px-5" style="text-align:center">
            <img class="image-fluid" src="/images/LoginIcon.png" height="200px" width="250px"
                 alt="NASA Logo">
            <p> <h2 class="text-center display-5 fs-2"> <%= msgP1 %> <br> <h5 class="text-center"><%= msgP2 %> </h5></h2></p>
            <p><h5 class="text-center text-danger"> <%= message %> </h5></p>
        </div>
    </div>
</div>