<%- include('includes/head.ejs') %>

</head>
<body>

<main>

    <div class="container">

        <!-- Top Title Login Page -->
        <%- include('includes/topForm.ejs') %>
        <div class="row g-0">
            <div class="col">
                <div class="loginBox" id="loginBox">
                    <img class="user" src="./images/LoginIcon.png" height="280px" width="280px" alt="#">
                    <h3>Welcome traveler! <br> Sign in here please</h3>
                    <%- include('includes/topForm.ejs') %>
                    <form class="form-floating" id="user-name-input" action="/" method="POST">
                        <div class="inputBox">
                            <!-- Email login input -->
                            <div class=" form-floating mb-4">
                                <input class="form-control" type="email" id="emailLogin" name="emailLogin"
                                       placeholder="Email Address" minlength="3" maxlength="32" required>
                                <label for="floatingInputValue" class="text-white">Email Address</label>
                            </div>

                            <!-- Password login input -->
                            <div class="form-floating mb-4">
                                <input class="form-control" type="password" id="passwordLogin" name="passwordLogin"
                                       placeholder="Password" minlength="3" maxlength="32" required>
                                <label for="floatingInputValue" class="text-white">Password</label>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mx-auto">
                            <!-- Submit - Login button -->
                            <button type="submit" id="login" class="btn btn-light btn-block mb-4" value="Login">Sign
                                in
                            </button>

                            <!-- Move to Registration Form button -->
                            <div class="text-center fw-4">
                                <p>Need to <a href="/users/register">Register?</a></p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</main>
<%- include('includes/end.ejs') %>
