<%- include('includes/head.ejs') %>

</head>
<body>

<main>

    <div class="container">

        <!-- Top Title Login Page -->
        <div class="container-fluid px-5">
            <div class="row g-0" id="header-container">
                <div class="p-2 mb-3 bg-transparent rounded-5 px-5" style="text-align:center">

                    <img class="image-fluid" src="/images/NASA-Logo.png" height="200px" width="250px"
                         alt="NASA Logo">

                   <p>
                    <h2 class="text-center display-5 fs-2"> Please Sign-In <br> Exercise 6 (Part 1) </h2></p>
                    <% if(message) { %>
                        <p><h5 class="text-center text-danger"> <%= message %> </h5></p>
                    <% } %>

                    <!--                    < if(registerSucc) { >
                                           <p><h5 class="text-center text-danger"> You're registered </h5></p>
                                       < } > -->

                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <form class="form-floating" action="/" method="POST">

                    <!-- Email login input -->
                    <div class=" form-floating mb-4">
                        <input type="email" id="EmailLogin" name="EmailLogin" class="form-control"
                               placeholder="Email Address" minlength="3" maxlength="32" required>
                        <label for="floatingInputValue">Email Address</label>
                    </div>

                    <!-- Password login input -->
                    <div class="form-floating mb-4">
                        <input type="password" id="passwordLogin" name="passwordLogin" class="form-control"
                               placeholder="Password" minlength="3" maxlength="32" required>
                        <label for="floatingInputValue">Password</label>
                    </div>

                    <div class="row d-flex justify-content-center mx-auto">
                        <!-- Submit - Login button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                        <!-- Move to Registration Form button -->
                        <div class="text-center fw-4">
                            <p>Need to <a href="/users/register">Register?</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</main>
<%- include('includes/end.ejs') %>
