<%- include('includes/head.ejs') %>

<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<main>
    <% if(!boolian){ %>
        <h1><%= title %></h1>
        <p>helloooo <%= name %></p>
    <% }else { %>
          <a class="btn" href="/users"> blabla </a>

            <% } %>

</main>
<%- include('includes/end.ejs') %>
