<%- include('includes/head.ejs') %>

</head>

<body>
<main>
    <div class="container">

        <!-- Top Title Registration Part 1 Page -->
        <div class="container-fluid px-5">
            <div class="row g-0" id="header-container">
                <div class="p-2 mb-3 bg-transparent rounded-5 px-5">

                    <img class="image-fluid" src="/images/NASA-Logo.png" height="200px" width="250px"
                         alt="NASA Logo">
                    <p>
                    <h2 class="text-center display-5 fs-2"> Please Register <br> Register </h2></p>


                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-auto">
                <form class="form-floating" action="/users/register-password" method="POST">

                    <!-- Password Registration input -->
                    <div class="form-floating mb-4 ">
                        <input class="form-control" type="password" id="passwordRegister" name="passwordRegister"
                               minlength="3" maxlength="32" required>
                        <!-- placeholder="Password"> -->
                        <label for="floatingInputValue">Password</label>
                    </div>
                    <!-- Confirm Password Registration input -->
                    <div class="form-floating mb-4">
                        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
                               minlength="3" maxlength="32" required>
                        <!-- placeholder="Confirm Password"> -->
                        <label for="floatingInputValue">Confirm Password</label>
                    </div>

                    <div class="row g-0">
                        <!-- Back to Registration Part 1 button -->
                        <div class="col-4">
                            <button type="submit" onclick="window.location.assign('/users/register')"
                                    class="btn btn-light btn-block md-4">Back
                            </button>
                        </div>
                        <div class="col-4">
                            <!-- Submit Registration Form button -->
                            <button type="submit" onclick="checkPassword()" class="btn btn-primary btn-block mb-4">
                                Submit
                            </button>
                        </div>
                    </div>

                    <!-- Move to Login button -->
                    <div class="text-center">
                        <p>Already registered? go to <a href="/">login</a> page</p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<script>
    function checkPassword() {
        // Get the values of the password and confirm password fields
        let password = document.getElementById("passwordRegister").value;
        let confirmPassword = document.getElementById("confirmPassword").value;

        // Check if the password and confirm password match
        if (password !== confirmPassword)
            alert("Error: Passwords do not match!");
        else
            document.getElementById('form').submit(); // Return true to allow form submission
    }
</script>

<%- include('includes/end.ejs') %>
