<%- include('includes/head.ejs') %>

<!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
</head>
<body>
<main>
    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-md-auto">
                <form class="form-floating">

                    <!-- Password Registration input -->
                    <div class="form-floating mb-4 ">
                        <input class="form-control" type="password" id="passwordRegister">
                        <!-- placeholder="Password"> -->
                        <label for="floatingInputValue">Password</label>
                    </div>
                    <!-- Confirm Password Registration input -->
                    <div class="form-floating mb-4">
                        <input class="form-control" type="password" id="confirmPassword">
                        <!-- placeholder="Confirm Password"> -->
                        <label for="floatingInputValue">Confirm Password</label>
                    </div>

                    <div class="row g-0">
                        <!-- Back to Registration Part 1 button -->
                        <div class="col-4">

                            <button type="button" class="btn btn-light btn-block md-4" href="/register">Back</button>

                        </div>
                        <div class="col-4">
                            <!-- Submit Registration Form button -->
                            <button type="button" class="btn btn-primary btn-block mb-4">Submit</button>
                        </div>
                    </div>

                    <!-- Already Login? button -->
                    <div class="text-center">
                        <p>Already registered? go to <a href="/">login</a> page</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include('includes/end.ejs') %>
