<%- include('includes/head.ejs') %>

</head>
<body>
<main>
    <div class="container">

        <!-- Top Title Registration Part 1 Page -->
        <div class="container-fluid px-5">
            <div class="row g-0" id="header-container">
                <div class="p-2 mb-3 bg-transparent rounded-5 px-5">

                    <img class="image-fluid" src="/images/NASA-Logo.png" height="200px" width="250px"
                         alt="NASA Logo">
                    <p>
                    <h2 class="text-center display-5 fs-2"> Please Register <br> Register </h2></p>

                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-auto">
                <form class="form-floating">

                    <!-- Password Registration input -->
                    <div class="form-floating mb-4 ">
                        <input class="form-control" type="password" id="passwordRegister" name="passwordRegister" required>
                        <!-- placeholder="Password"> -->
                        <label for="floatingInputValue">Password</label>
                    </div>
                    <!-- Confirm Password Registration input -->
                    <div class="form-floating mb-4">
                        <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
                        <!-- placeholder="Confirm Password"> -->
                        <label for="floatingInputValue">Confirm Password</label>
                    </div>

                    <div class="row g-0">
                        <!-- Back to Registration Part 1 button -->
                        <div class="col-4">
                            <a href="/register">
                                <button type="button" class="btn btn-light btn-block md-4" >Back</button>
                            </a>


                        </div>
                        <div class="col-4">
                            <!-- Submit Registration Form button -->
                            <button type="button" class="btn btn-primary btn-block mb-4">Submit</button>
                        </div>
                    </div>

                    <!-- Already Login? button -->
                    <div class="text-center">
                        <p>Already registered? go to <a href="/">login</a> page</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<%- include('includes/end.ejs') %>
