

body {
    padding-top: 60px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
}

@media screen {
    body {
        background-size: cover;: fixed
    }
}
#particles-js {
    height: 100%
}

.loginBox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    min-height: 200px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: rgba(103, 103, 224, 0.91);
    text-align: center;

}

.loginBox input {
    width: 100%;
    margin-bottom: 20px
}

.loginBox input[type="email"], .loginBox input[type="password"], .loginBox input[type="text"] {
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    height: 70px;
    color: #fff;
    background: transparent;
    font-size: 18px;
    padding-left: 20px;
    box-sizing: border-box
}

.loginBox input[type="email"]:hover, .loginBox input[type="password"]:hover, input[type="text"]:hover {
    color: #42F3FA;
    border: 1px solid #42F3FA;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
}

.loginBox input[type="email"]:focus, .loginBox input[type="password"]:focus, input[type="text"]:focus {
    border-bottom: 2px solid #42F3FA
}

.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
    opacity: 95%;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #59238F;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.loginBox a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

a:hover {
    color: #00ffff
}

p {
    color: rgba(103, 103, 224, 0.94)
}